header {
  margin: 0;
  padding: 16px 5%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg-color);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-logo {
  color: var(--color-primary-1);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

.navbar li a {
  text-decoration: none;
  margin: 16px;
  color: var(--color-neutral-dark-2);
}

.li.active a {
  border-bottom: 3px solid var(--color-primary-1);
  padding-bottom: 6px;
}

.btn-menu_mobile {
  display: none;
  text-decoration: none;
}

.menu_mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar ul,
  .navbar ul li a,
  nav .btn-default {
    display: none;
  }

  .btn-menu_mobile {
    display: block;
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
  }

  .menu_mobile.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu_mobile  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    margin: 16px 0px;
  }

  .menu_mobile li {
    text-align: center;
    & a {
      text-decoration: none;
      color: var(--color-neutral-dark-1);
    }
  }
}