/* IMPORTS */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Tangerine:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap'); */

/* PAGES */
@import './layout/header.css';
@import './layout/home.css';
@import './layout/items.css';
@import './layout/feedbacks.css';
@import './layout/about.css';

:root {
  --bg-color: #f8eeee;
  --color-primary-1: #dca0a0;
  --color-primary-2: #dca0a02d;
  --color-primary-3: #dbaaaaad;
  /* --color-secondary-1: #e9a; */
  --color-secondary-1: #e9a209;
  --color-neutral-light-1: #fff;
  --color-neutral-light-2: #dbdbdb;
  --color-neutral-dark-1: #000;
  --color-neutral-dark-2: #252020;
}

* {
  /* font-family: !; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

section {
  padding: 16px 0%;
}

/* COMPONENTS */

.btn-default {
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  font-weight: 600;
  background-color: var(--color-primary-1);
  cursor: pointer;
  transition: background-color .2s ease;
}

.btn-default:hover {
  background-color: var(--color-primary-3);
}

.btn-default a {
  text-decoration: none;
  color: var(--color-neutral-dark-1);
}

.btns-social-media {
  display: flex;
  gap: 16px;
}

.btns-social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  font-size: 1.9rem;
  text-decoration: none;
  color: var(--color-neutral-light-1);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);;
  transition: .3s ease;
}

.btns-social-media a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.1);;
}

.zap {
  background: #25D366;
}

.insta {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.fb {
  background: #4267B2;
}

.section-title {
  color: var(--color-primary-1);
  font-size: 1.5rem;
}

.section-subtitle {
  font-size: 2rem;
}