/* IMPORTS */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Tangerine:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap'); */

/* PAGES */
@import './layout/header.css';
@import './layout/home.css';
@import './layout/items.css';
@import './layout/feedbacks.css';
@import './layout/about.css';
@import './layout/contact.css';
@import './layout/footer.css';

/* COMPONENTS */
@import './components/btnComponents.css';

:root {
  --bg-color: #f8eeee;
  --color-primary-1: #dca0a0;
  --color-primary-2: #dca0a02d;
  --color-primary-3: #dbaaaaad;
  /* --color-secondary-1: #e9a; */
  --color-secondary-1: #e9a209;
  --color-neutral-light-1: #fff;
  --color-neutral-light-2: #dbdbdb;
  --color-neutral-dark-1: #000;
  --color-neutral-dark-2: #252020;
}

* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

section {
  padding: 16px 0%;
}

#title {
  font-size: 2.5rem;
}

.section-title {
  color: var(--color-primary-1);
  font-size: 3rem;
  margin-top: 71px;
}

.section-subtitle {
  color: var(--color-neutral-dark-2);
  font-size: 2rem;
  margin-top: 16px;
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 1.9rem;
  }
  .section-title {
    font-size: 2.1rem;
  }
  .section-subtitle {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1700px) {
  body {
    font-size: 1.5rem;
  }
  #title {
    font-size: 3rem;
  }
  .section-title {
    font-size: 5rem;
  }
  .section-subtitle {
    font-size: 3rem;
  }

}